.bad-input,
.bad-input input {
    background: rgb(248, 164, 164);
}
.bad-input {
    box-shadow: 3px 3px 10px rgb(255, 0, 0);
}
body.party {
    height: 100vh;
    background-image: linear-gradient(#5BB9E9 10%, #C2D2DF 100%);
    background-repeat: no-repeat;
}
body.party main .main-logo,
body.party main .main-buttons,
body.party footer {
    display: none;
}
body.party main .main-input {
    top: 0;
}